body{
    overflow: hidden;
}

form{
    display: grid;
    padding: 2rem;
    background-color: hsl(219, 32%, 12%);
}

.form-title{
    justify-self: center;
    margin-bottom: 1.5rem;
}

.container{
    display: grid;
    place-items: center;
    width: 100vw;
    height: calc(100vh);
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    min-width: 40vw;
    min-height: auto;
    margin-bottom: 2rem;
} 


.form-wrapper{
    position: relative;
    height: 1.5rem;  
    width: 100%;  
}

.form-control{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid hsl(219, 15%, 95%);
    outline: none;
    color: hsl(219, 15%, 95%);
    background: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.form-control:hover{
    border-color: hsl(250, 66%, 75%);
}

.form-control:focus{
    border-color: hsl(250, 66%, 65%);
}

.form-label{
    position: absolute;
    left: 0.75rem;
    top: 0.55rem;
    padding: 0 0.2rem;
    cursor: text;
    transition: 200ms ease-in;
    color: hsl(219, 15%, 95%);
}

.form-control:focus ~ .form-label,
.form-control:not(:placeholder-shown).form-control:not(:focus) ~ .form-label{
    top:-0.6rem;
    font-size: 0.9rem;
    background-color:hsl(219, 32%, 12%);
}

.names{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fit{
    width: 48%;
}

input[type='submit']{
    background-color: hsl(250, 66%, 75%);
    color: hsl(219, 48%, 8%);
    padding: 0.4rem 1.5rem;
    border-radius: 0.75rem;
    font-weight: 500;
    justify-self: flex-start;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: hsl(219, 15%, 95%) !important;
}
