<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> PersonalBlog by LemmyMwaura </title>
    <!-- <link rel='icon' href='{{url_for('static', filename='images/logo.png')}}'> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script defer src="{{ url_for('static', filename='Javascript/app.js')}}"></script>
    {% block link %}{% endblock %}
</head>
<body>
    <header>
        <nav class="spacer" id="nav">
            <div class="nav-logo">
                <a href="{{url_for('view.home')}}" class="nav-link main-logo">
                    <div class="main-tooltip">
                        <i class='bx bxs-book-content'></i>
                    </div>Blogs App
                </a>
                <a href="{{url_for('blog.posts')}}" class="nav-link">All Blogs</a>
                <div class="dropdown" data-dropdown>
                    <a href="#" class="nav-link dropdown-btn" data-dropdown-button>Categories</a>
                    <div class="dropdown-menu drop-menu-styles">
                        <a class="nav-link drop-item" href="{{url_for('cat.bsns')}}">Business</a>
                        <a class="nav-link drop-item" href="{{url_for('cat.tech')}}">Technology</a>
                        <a class="nav-link drop-item" href="{{url_for('cat.games')}}">Games</a>
                        <a class="nav-link drop-item" href="{{url_for('cat.fashion')}}">Fashion</a>
                        <a class="nav-link drop-item" href="{{url_for('cat.science')}}">Science</a>
                        <a class="nav-link drop-item" href="{{url_for('cat.crypto')}}">Crypto/Web3</a>
                    </div>
                </div>
                <a href="{{url_for('blog.quotes')}}" class="nav-link">Quotes</a>
            </div>
            <ul class="nav-items">
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{{url_for('auth.profile')}}" class="nav-link user-nav">
                    <i class='bx bx-user'></i> {{user.username}}</a></li>
                <li class="nav-item"><a href="{{url_for('auth.logout')}}" class="nav-link">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="{{url_for('auth.login')}}" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="{{url_for('auth.signup')}}" class="nav-link signup">Sign-up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="flash-message modal danger">
        {{ message }}
    <button class="btn modal-btn"> &times; </button>
    </div>
    {% else %}
    <div class="flash-message modal success" data>
        {{ message }}
    <button class="btn modal-btn">&times;</button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>